@model BookAppMVC.Models.Books

@{
    ViewData["Title"] = "Lisää uusi kirja";
}

<h3>Uuden kirjan lisäys</h3>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddNewBook">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Kirja_nimi" class="control-label">Kirja</label>
                <input asp-for="Kirja_nimi" class="form-control" />
                <span asp-validation-for="Kirja_nimi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kirjailija_nimi" class="control-label">Kirjailija</label>
                <input asp-for="Kirjailija_nimi" class="form-control" />
                <span asp-validation-for="Kirjailija_nimi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lainauspvm" class="control-label">Lainauspäivämäärä</label>
                <input asp-for="Lainauspvm" class="form-control" />
                <span asp-validation-for="Lainauspvm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ostospvm" class="control-label">Ostopäivämäärä</label>
                <input asp-for="Ostospvm" class="form-control" />
                <span asp-validation-for="Ostospvm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Lisää uusi kirja" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
